//Font Families
$openSans: 'Open Sans', sans-serif;
$playFair: 'Playfair Display', serif;

//Font weights
$bold: 700;
$semiBold:600;
$normal: 400;

//Font sizes
$xxxx-large:130px;
$xxx-large:100px;
$xx-large:30px;
$x-large:20px;
$large:18px;
$medium:16px;
$small:14px;

//Colors
$white: #FFF;
$platinum: #E8E8E8;
$gray:#BABABA;
$carminePink:#E94F37;
$salmon:#EF7F6D;
$spanishPink:#F7BFb6;
//$blackOlive:#E94F37; *color de guía de estilo no corresponde
$graniteGray:#5D6163;
//$oldSilver:#F7BFB6; color de guía de estilo no corresponde
$verdigris:#44BBA4;
$mediumAquamarine:#66C7B4;
$pearlAqua:#88D3C5;

//Button sizes
$largeButton: 215px;
$mediumButton: 155px;
$smallButton:100px;

//Button colors
$defaultButton: #e94f37;
$positiveButton:#44bba4;