header{
    color: white;
    text-align: center;
    #headerTitleSmall{
        font-size: $large;
        font-family: $openSans;
    }
    #headerTitleBig{
        font-family: $playFair;
        font-size: $xxxx-large;
    }
}
